.table {
    position: relative;
    width: 650px;
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 50px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #b3b3b3;
    font-weight: bold;
    width: 200px;
  }
  
  .table td {
    text-align: center;
  }