.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 60px;
}

.pages_container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}
.page_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; /* 숫자 버튼의 너비 조정 */
    height: 25px; /* 숫자 버튼의 높이 조정 */
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.856);
    font-family: sans-serif;
    font-size: 13px;
}
  
.page_link.active {
    background-color: rgb(167, 167, 167);
    color: white;
}

.prev_button,
.next_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; /* 버튼의 너비 조정 */
    height: 25px; /* 버튼의 높이 조정 */
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-size: 5px;
}

.prev_button_container,
.next_button_container {
    display: flex;
}